SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://hh-shipping.onrender.com
SCOPES=read_delivery_customizations,write_delivery_customizations,read_discounts,write_discounts,read_validations,write_validations
DATABASE_URL=file:./dev.sqlite
